<div class="footer">
    <div class="copyright">
        <p>&copy; 2024 Ali Hamza. All rights reserved.</p>
    </div>
    <div class="right-section">
        <div class="footer-item">
            <h6>Contact</h6>
            <p>+91 9919443947</p>
        </div>
        <div class="footer-item">
            <h6>Email</h6>
            <p>alihamza1795.ah@gmail.com</p>
        </div>
        <div class="footer-item">
            <h6 style="font-weight: bold;">Follow</h6>
            <a href="https://github.com/Djali9919" target="_blank">
                <i class="bi bi-github social-icon"></i>
              </a>
              <a href="https://www.linkedin.com/in/ali-hamza-935940184/" target="_blank">
                <i class="bi bi-linkedin social-icon"></i>
              </a>
              <a href="https://x.com/GeekyHamza" target="_blank">
                <i class="bi bi-twitter-x social-icon"></i>
              </a>
        </div>
       
    </div>
</div>