<div class="page-layout">
    <div class="colored-section"></div>
    <div class="white-section">
     
      <div class="card">
          <div class = "dp-circle">
            <img src="assets/Ali.jpg" alt="Profile Picture" class="img-fluid rounded-circle"/>
          </div>
          <div class="name">
            <span>Ali</span>
            <span>Hamzaa</span>
          </div>
          <div class="divider"></div>
          <div class="designation">
            <span>Software Developer</span>
          </div>
          <div class="social-media-strip">
            <a href="https://github.com/Djali9919" target="_blank">
              <i class="bi bi-github social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/ali-hamza-935940184/" target="_blank">
              <i class="bi bi-linkedin social-icon"></i>
            </a>
            <a href="https://x.com/GeekyHamza" target="_blank">
              <i class="bi bi-twitter-x social-icon"></i>
            </a>
          </div>
      </div>
      <div class="about-container">
        <h1 class="about-heading">Greatings!</h1>
        <h2 class="designation-heading">Here's who I am and what I do!</h2>
        <p class="about-paragraph">
          Hi, I'm Ali Hamza, a talented software developer with expertise in Spring Boot, Angular, and Azure Cloud. 
          I worked on various Spring Boot projects like project upgrade from lower spring and java
          version to higher version, writing unit test cases and various bug fixes. 
          I have also worked on various Angular based bug fixes. On Azure cloud I have experience in working
          with various Azure services like Azure Spring Apps, Azure Static Web App, Azure Cosmos DB, etc.
        </p>
      </div>
    </div>
  </div>
  