<div class="project-page">
    <div class="heading">
      <span class="square-bullet"></span>
      <h1>Project</h1>
    </div>
  
    <div class="project-cards">
      <div class="left-section">
        <div class="vertical-rectangle"></div>
        <div class="text-content">
          <h3 class="project-name">Book Store</h3>
          <h5 class="project-subheading">Unlock the mystery one book at a time</h5>
          <p class="project-description">
            An online portal to discover and buy books. Here you can filter out books
            based on Author and Genre and also sort them in the order of their publishing dates.
            The UI is powered with Angular you provide an interactive, user-friendly single page 
            web application. The backend utilizes the microservice architecture using the Spring 
            Boot. For data storage Azure SQL data base is used. 
          </p>
        </div>
      </div>
      <div class="right-section">
        <img src="assets/book.png" alt="Project image" class="project-image" />
      </div>
    </div>
  
    <div class="project-cards">
      <div class="left-section">
        <div class="vertical-rectangle"></div>
        <div class="text-content">
          <h3 class="project-name">Weather Forecast Mobile App</h3>
          <h5 class="project-subheading">A Freelance Project</h5>
          <p class="project-description">
            Developed this app for Android devices as a Freelancer.
            It was different from other weather forecast apps because
            in my app I used Analog meters to display metrics like Temperature
            and Atmospheric pressure of any place worldwide. I used Google 
            Weather API to get the accurate data.
          </p>
        </div>
      </div>
      <div class="right-section">
        <img src="assets/weather.png" alt="Project image" class="project-images" />
      </div>
    </div>
  
  </div>
  

