<header>
    <div class="left-section">
      <span class="bullet"></span>
      <span class="name" style="padding-right: 5px;">Ali Hamza </span> / <span class="designation" style="padding-left: 5px;">Software Developer</span>
    </div>
    <div class="right-section">
      <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active">ABOUT ME</a></li>
        <li><a routerLink="/resume" routerLinkActive="active">RESUME</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">PROJECTS</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
      </ul>
    </div>
  </header>
  
  