header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: blue;
    margin-right: 10px;
  }
  
  .name {
    font-size: 26px;
    font-weight: 800;
  }
  
  .designation {
    font-size: 20px;
    color: gray;
  }
  
  .right-section {
    display: flex;
    margin-right: 30px;
  }
  

  .menu {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 20px; 
  }
  
  
  .menu li {
    display: inline; 
  }
  
  
  .menu a {
    text-decoration: none; 
    color: black; 
    font-weight: normal; 
    transition: color 0.3s, text-decoration 0.3s; 
  }
  
  
  .menu a:hover {
    text-decoration: underline; 
    color: blue; 
  }
  

  .menu a.active {
    font-weight: bold; 
    color: blue; 
  }
  