<div class="resume-page">
    <!-- Page Heading -->
    <div class="heading">
      <span class="square-bullet"></span>
      <h1>Resume</h1>
    </div>
  
    <!-- Experience Section -->
    <div class="section">
      <h2>Experience</h2>
      <div class="card">
        <div class="card-content">
          <!-- Left Column -->
          <div class="left-column">
            <h3 style="color: blue;">Oct 2022 - Present</h3>
            <p>Application Development Analyst</p>
            <p>Accenture</p>
            <p>Gurugram, India</p>
          </div>
          <!-- Right Column -->
          <div class="right-column">
            <p>
              Developed and maintained highly scallable enterprize level applications 
              using Angular based front end and Spring Boot based restful services. 
              Utilized various cloud services of Microsoft Azure like Cosmos DB, Azure
              Spring Apps, Static Web App etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Education Section -->
    <div class="section">
      <h2>Education</h2>
      <div class="card">
        <div class="card-content">
          <!-- Left Column -->
          <div class="left-column">
            <h3 style="color: blue;">2018-2022</h3>
            <p>Bachelor of Technology</p>
            <p>Galgotias College of Engineering and Technology</p>
            <p>Electronics and Communication</p>
          </div>
          <!-- Right Column -->
          <div class="right-column">
            <p>
              Completed Bachelors of Technology in Electronics and Communication from Galgotias 
              College of Engineering and Technology with an agrregate CGPA of 8.4. During my four years
              in college I have also published two research papers.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Skills Section -->
    <div class="section">
      <h2>Skills</h2>
      <div class="card skills-card">
        <!-- Professional Skillset -->
        <div class="skills-top">
          <h3>Professional Skillset</h3>
          <ul class="skills-grid">
            <li><span class="square-bullet"></span> Java</li>
            <li><span class="square-bullet"></span> Spring Boot</li>
            <li><span class="square-bullet"></span> Angular</li>
            <li><span class="square-bullet"></span> Azure Cloud</li>
            <li><span class="square-bullet"></span> MongoDB</li>
          </ul>
        </div>
        <!-- Languages -->
        <div class="skills-bottom">
          <h3>Languages</h3>
          <ul class="skills-grid">
            <li><span class="square-bullet"></span> Hindi (native)</li>
            <li><span class="square-bullet"></span> English (fluent)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
